// 變數管理
@import 'base/var';
@import 'base/color';
@import 'base/font';
@import 'base/reset';

// LINK scss
// layout
@import 'layout/header';
@import 'layout/footer';


// 網站基本配置
body {
  font-size: $fontsize;
  color: $color;
  font-family: $fontFamily;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  background-color: $bgcolor;
}


/*css註解*/
.container_full {
  width: $fullwidth;
}

.section_bgc {
  background-color: $section_bgc;
}

.container {
  width: $fullwidth;
  max-width: $maxwidth;
  margin: 0 auto;
}

span {
  color: $color;
}

h1 {
  color: $h1_color;
}

header {
  height: 100px;
  display: flex;
  flex-direction: row;

  .logo {
    width: 100px;
    height: 100px;
    background-color: rgb(165, 165, 165);
  }

  nav {
    ul {
      display: flex;
      flex-direction: row;
      li {
        width: 100px;
        background-color: rgb(49, 243, 211);
        a {
          color: #ff2713;
          &:hover {
            color: #000;//偽元素
          }
          &::before {
             content: '';
          }
          &::after {
            content: '';
         }  
        }
      }
    }

  }
}

.banner {
  height: 450px;
}

//宣告
@mixin margincenter {
  margin: 0 auto; 
}

// 宣告
@mixin  flexcenter() {
  display: flex;
  justify-content: center;
  align-items: center; 
}

// 置中
@mixin positioncenter() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(50% , 50%);
}


// mixin 帶值
@mixin title($size , $lineHeight) {
   font-size: $size;
   line-height: $lineHeight;
}

@mixin rect($size) {
  width: $size;
}



.box {
  // 呼叫
  @include margincenter; 
}
.section {
  // @include flexcenter(); 
  @include positioncenter();
}


.content {
  @include flexcenter();
  @include title(20px , 1.2)
}

h1 {
    @include title($fontsize * 4 , 2);
    @include margincenter();
}

h2 {
  @include title($fontsize * 3 , 2);
  @include margincenter();
}







// function name(){
//}