// 變數管理
@import 'base/var';
@import 'base/color';
@import 'base/font';
@import 'base/reset';

// mixin
@import 'mixin/mixin';

// LINK scss
// layout
@import 'layout/header';
@import 'layout/footer';


// 網站基本配置
body {
  font-size: $fontsize;
  color: $color;
  font-family: $fontFamily;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  background-color: $bgcolor;
}


/*css註解*/
.container_full {
  width: $fullwidth;
}

.section_bgc {
  background-color: $section_bgc;
}

.container {
  width: $fullwidth;
  max-width: $maxwidth;
  margin: 0 auto;
}

span {
  color: $color;
}

h1 {
  color: $h1_color;
}

header {
  height: 100px;
  display: flex;
  flex-direction: row;

  .logo {
    width: 100px;
    height: 100px;
    background-color: rgb(165, 165, 165);
  }

  nav {
    ul {
      display: flex;
      flex-direction: row;

      li {
        width: 100px;
        background-color: rgb(49, 243, 211);

        a {
          color: #ff2713;

          &:hover {
            color: #000; //偽元素
          }

          &::before {
            content: '';
          }

          &::after {
            content: '';
          }

        }
      }
    }
  }
}

.banner {
  height: 450px;
}

.box {
  // 呼叫
  @include margincenter;
}

.section {
  // @include flexcenter(); 
  @include positioncenter();
}

.content {
  @include flexcenter();
  @include title(20px, 1.2)
}

h1 {
  @include title($fontsize * 6, 2);
  @include margincenter();
}

h2 {
  @include title($fontsize * 3);
  @include flexcenter();
}

$null : null; // 數值型態 NULL

.box2 {
  padding: 10px;
  margin: $null;
}

// null 空值
@mixin boxspec($margin, $padding:null) {
  margin: $margin;
  padding: $padding;
  @content; // 外部新增屬性
}

.esp {

  // 可帶值或不帶
  @include boxspec(10px) {
    width: 100px;
    height: 100px;
    // @include margincenter 
  }
}






.btn {
  @include btn(100px, 10px, #ffa513, #000, null, 10px);
}


.btn-wide {
  @include btn(150px, 5px, #acff13, #000, 1px solid rgb(33, 165, 0), 20px) {
    margin-top: 20px;
  }
}

;

.btn-error {
  @include btn(50px, 8px, rgb(255, 0, 0), rgb(255, 255, 255), null, 5px) {
    margin-top: 20px;
    // @include margincenter();
    font-size: 14px;
  }
}

// 運算
.box {
  width: 10rem + 1rem;
  height: 10 - 1 + rem;
  margin: 10px * 10;
  font: (100px / 5);
}




.box1 {
  width: round(100px / 7); //四捨五入
  height: floor(100px / 3); //無條件捨去
  margin: ceil(100px / 3); //無條件進位
}

$a : 40;

.box3 {
  @if $a==10 {
    width: $a + px;
  }

  @else if $a==30 {
    width: $a * 2 + px;
  }

  @else {
    width: $a * 3 + px;
  }
}

@mixin theme($bg) {
  .wrapper {
    @if $bg==yellow {
      background-color: rgb(255, 226, 4);
      font-size: 16px;
      color: #ff2713;
      @content;
    }

    @else if $bg==blue {
      background-color: rgb(30, 188, 255);
      font-size: 14px;
      color: #333;
      @content;
    }

    @else if $bg==green {
      background-color: rgb(48, 255, 148);
      color: yellow;
      font-size: 12px;
      @content;
    }
  }
}

// border radius


// $h top or bottom  $v left or right 
@mixin border_module($num, $h:null, $v:null) {
  @if $h== null and $v== null {
    border-radius: $num;
  }

  @else {
    border-#{$h}-#{$v}-radius: $num;
  }
}
// width height
@mixin rect($w , $h:$w){
  width: $w;
  height: $h;
}


.box4 {
  // @include border_module(30px , top , right);
  // @include border_module(30px , bottom , left);
  @include border_module(30px , top , right);
  background-color: rgb(255, 0, 0);
  @include rect(400px , 300px);
  margin-top: 30px;
}















@include theme(green)