body {
    padding: 0;
    margin: 0;
    background-color: rgb(60, 60, 60);
}

section {
    width: 100vw;
    height: 100vh;
}


.wrapper {
   width: 1200px;
   margin: 0 auto;
} 


.box {
    width: 80px;
    height: 80px;
    background-color: #80ff00;
    border-radius: 5px;
}