body {
   padding: 0;
   margin: 0;
   background-color: rgb(60, 60, 60);
}

section {
   width: 100vw;
   height: 100vh;
   /* padding: 20px; */
}


.wrapper {
   width: 1200px;
   margin: 0 auto;
}


.gray {
   background-color: #e3e3e3;

}


.box {
   width: 80px;
   height: 80px;
   background-color: #80ff00;
   border-radius: 5px;
   margin-top: 10px;
}

.basic2 {

   position: relative;
   top: 100px;
   left: 300px;

}


.tween {
   width: 600px;
   height: 100px;
   font-size: 50px;
   opacity: 1;
   background-color: rgb(219, 28, 28);
}


.menu {
   width: 150px;
   height: 50px;
   cursor: pointer;
   position: relative;
   left: -150px;
}


h1,
h2 {
   margin: 0;
   padding: 0;

}

.flex {
   display: flex;
   justify-content: center;
   align-items: center;
   transition: .3s all ease;

}

.flex.on {
   background-color: rgb(250, 97, 97);

}



/* #trigger01 {
 position: relative;
 top: 100px;
} */