// base 
@import 'base/var';
@import 'base/color';
@import 'base/font';
@import 'base/reset';

// mixin

@import 'mixin/mixin';


// grid
@mixin grid($r , $num:12) {
    @for $i from 1 through $num {
        .col-#{$r}-#{$i} {
            flex: 0 0 auto;
            width: ($i / $num) * 100%;
            @content;
        }

    }
}


@include m() {
 @include grid(md);
}

@include t() {
 @include grid(lg);
}


// extend


.green {

  background-color: #94f40d;

}

.red {
  background-color: #ef0e0e;

}

.fontblack {
 color: #333;
}

%margintop10 {
 margin: 10px auto 0;

}

.border_r_5 {
  border-radius: 5px;
}




.box {
  @include rect(200px , 100px);
  @extend .red;
  @extend .fontblack;
  @extend %margintop10;
  @extend .border_r_5;
}
