// js function
// function name(){
//}

//宣告
@mixin margincenter {
    margin: 0 auto; 
  }
  
  // 宣告
  @mixin  flexcenter() {
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  // 置中
  @mixin positioncenter() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(50% , 50%);
  }
  
  
  // mixin 帶預設值
  @mixin title($size , $lineHeight:1.3) {
     font-size: $size;
     line-height: $lineHeight;
  }


// boder radius
@mixin border($line ,$bordercolor , $borderR:null){
    border:$line solid $bordercolor;
    border-radius:$borderR;
}


// 按鈕組件
  @mixin btn($w , $p , $bgc , $color , $border:null , $borderR:null) {
    width: $w;
    // width: 100%;
    padding:$p;
    background-color: $bgc;
    text-align: center;
    color: $color;
    border:$border;
    border-radius:$borderR;
    cursor: pointer;
    transition: .3s all ease;
    &:hover {
      background-color:darken($bgc, 10);
      color: invert($color);
    }
    @content;
  }

// layout mixin
@mixin layout($w:full, $num: $w) {
  @if $w==full {
    width: 100%;
    font-size: 14px;

  }

  @else if $w==$num {
    width: $num + px;
    margin: 0 auto;
    font-size: 15px
  }
}

// $h top or bottom  $v left or right 
@mixin border_module($num, $h:null, $v:null) {
  @if $h==null and $v==null {
    border-radius: $num;
  }

  @else {
    border-#{$h}-#{$v}-radius: $num;
  }
}


// theme
// @include theme(yellow or blue or green) 使用方式
@mixin theme($bg) {
  .wrapper {
    @if $bg==yellow {
      background-color: rgb(255, 226, 4);
      font-size: 16px;
      color: #ff2713;
      @content;
    }

    @else if $bg==blue {
      background-color: rgb(30, 188, 255);
      font-size: 14px;
      color: #333;
      @content;
    }

    @else if $bg==green {
      background-color: rgb(48, 255, 148);
      color: yellow;
      font-size: 12px;
      @content;
    }
  }
}



// width height
// 使用方法  @include rect(width , height)  寬跟高 常用
@mixin rect($w, $h:$w) {
  width: $w;
  height: $h;
}





 // Style  if == p  用position  or if == m 用margin
@mixin position($style , $num, $dir) {
  @for $i from 1 through $num {
  // position
    @if $style == p {
      .push-#{$dir}-#{$i} {
        position: relative;
        #{$dir}: $i * 1px;
      }
    }
//  margin
    @else if $style == m {
      .margin-#{$dir}-#{$i} {
        margin-#{$dir}: $i * 1px
      }

    }
  }
}