// js function
// function name(){
//}

//宣告
@mixin margincenter {
    margin: 0 auto; 
  }
  
  // 宣告
  @mixin  flexcenter() {
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  // 置中
  @mixin positioncenter() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(50% , 50%);
  }
  
  
  // mixin 帶預設值
  @mixin title($size , $lineHeight:1.3) {
     font-size: $size;
     line-height: $lineHeight;
  }
// 按鈕組件
  @mixin btn($w , $p , $bgc , $color , $border:null , $borderR:null) {
    width: $w;
    // width: 100%;
    padding:$p;
    background-color: $bgc;
    text-align: center;
    color: $color;
    border:$border;
    border-radius:$borderR;
    cursor: pointer;
    transition: .3s all ease;
    &:hover {
      background-color:darken($bgc, 10);
      color: invert($color);
    }
    @content;
  }